<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APFiles</key>
	<dict>
		<key>APFileDescriptionKey</key>
		<string></string>
		<key>APFileDestinationPath</key>
		<string></string>
		<key>APFileName</key>
		<string></string>
		<key>APFileSourcePath</key>
		<string></string>
	</dict>
	<key>APInstallerURL</key>
	<string></string>
	<key>ATSApplicationFontsPath</key>
	<string></string>
	<key>CFAppleHelpAnchor</key>
	<string></string>
	<key>CFBundleAllowMixedLocalizations</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rsmn</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>KatsuDon</string>
			<key>CFBundleTypeName</key>
			<string>KatsuDon</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.ayakix</string>
			</array>
			<key>NSDocumentClass</key>
			<string>NSDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string>KatsuDon.icns</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string></string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.ayakix.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
	</array>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleName - 2</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleName - 3</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleName - 4</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CSResourcesFileMapped</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSArchitecturePriority</key>
	<array>
		<string>i386</string>
	</array>
	<key>LSBackgroundOnly</key>
	<false/>
	<key>LSEnvironment</key>
	<dict/>
	<key>LSExecutableArchitectures</key>
	<array>
		<string>i386</string>
	</array>
	<key>LSFileQuarantineEnabled</key>
	<false/>
	<key>LSGetAppDiedEvents</key>
	<false/>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>i386</key>
		<string>10.0.0</string>
	</dict>
	<key>LSMultipleInstancesProhibited</key>
	<false/>
	<key>LSPrefersCarbon</key>
	<false/>
	<key>LSPrefersClassic</key>
	<false/>
	<key>LSRequiresCarbon</key>
	<false/>
	<key>LSRequiresClassic</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<false/>
	<key>LSRequiresNativeExecution</key>
	<false/>
	<key>LSUIElement</key>
	<true/>
	<key>LSUIPresentationMode</key>
	<integer>0</integer>
	<key>LSVisibleInClassic</key>
	<false/>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSDockTilePlugIn</key>
	<string></string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 Ayakix. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSMainNibFile~ipad</key>
	<string></string>
	<key>NSMainNibFile~iphone</key>
	<string></string>
	<key>NSPersistentStoreTypeKey</key>
	<string></string>
	<key>NSPrefPaneIconFile</key>
	<string></string>
	<key>NSPrefPaneIconLabel</key>
	<string></string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string></string>
			</dict>
			<key>NSMessage</key>
			<string></string>
		</dict>
	</array>
	<key>OSAScriptingDefinition</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string></string>
	</array>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string></string>
	</array>
	<key>UIFileSharingEnabled</key>
	<false/>
	<key>UIInterfaceOrientation</key>
	<string>UIInterfaceOrientationPortrait</string>
	<key>UILaunchImageFile</key>
	<string></string>
	<key>UILaunchImageFile~iphone</key>
	<string></string>
	<key>UIMainStoryboardFile</key>
	<string></string>
	<key>UIMainStoryboardFile~ipad</key>
	<string></string>
	<key>UIMainStoryboardFile~iphone</key>
	<string></string>
	<key>UINewsstandApp</key>
	<false/>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string></string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string></string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUpgradeOtherBundleIdentifier</key>
	<string></string>
	<key>UIViewEdgeAntialiasing</key>
	<false/>
	<key>UIViewGroupOpacity</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string></string>
			</array>
			<key>UTTypeDescription</key>
			<string>KatsuDon</string>
			<key>UTTypeIconFile</key>
			<string>KatsuDon</string>
			<key>UTTypeIdentifier</key>
			<string>com.ayakix</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string></string>
			</array>
			<key>UTTypeIdentifier</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
	<key>com.apple.PreferenceSync.ExcludeSyncKeys</key>
	<array>
		<string></string>
	</array>
</dict>
</plist>
